<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#readme" data-toggle="tab">README</a>
        </li>
        <li>
            <a href="#license" data-toggle="tab">LICENSE</a>
        </li>
        <li>
            <a href="{{ url(request.route.compiled.staticPrefix|replace({'view': 'documentation'}) ~ '/' ~ addon.namespace) }}">{{ strtoupper(trans('module::label.documentation')) }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="readme">
            {{ readme|markdown }}
        </div>
        <div class="tab-pane" id="license">
            {{ license|markdown }}
        </div>
    </div>
</div>
