<ul class="screenshots">
    {% for screenshot in addon.screenshots() %}
        <li>
            <a href="{{ screenshot.url }}" class="screenshot">
                {{ screenshot|raw }}
            </a>
        </li>
    {% endfor %}
</ul>
