{% if addon.versions %}
    <h3 class="lead">
        {{ trans('anomaly.module.addons::label.versions') }}
    </h3>

    <ul class="list-unstyled">
        <li>
            {{ addon.versions|reverse|slice(0, 15)|join(', ') }}
            {% if addon.versions|length > 15 %}
                ...
                <strong>
                    {{ trans('anomaly.module.addons::label.more', {'amount': addon.versions|slice(15)|length}) }}
                </strong>
            {% endif %}
        </li>
    </ul>
{% endif %}
