<div class="panel-body">

    {% for category, heading in navigation %}
        <dl>
            <dt>{{ heading.title }}</dt>
            {% for section, title in heading.sections %}
                <dt>{{ html_link(request.route.compiled.staticPrefix ~ '/' ~ str_plural(addon.type) ~ '/documentation/' ~ addon.namespace ~ '/' ~ category ~ '/' ~ section, title) }}</dt>
            {% endfor %}
        </dl>
    {% endfor %}

</div>
