{% extends "theme::layouts/default" %}

{% block content %}
    <div class="inner">

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="panel">
                        {% include "module::admin/addon/partials/info" %}
                        {% include "module::admin/addon/partials/authors" %}
                        {% include "module::admin/addon/partials/support" %}
                    </div>
                </div>

                <div class="col-lg-18">
                    {% include "module::admin/addon/partials/content" %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
