<p>
    {% if addon.type in ['module', 'extension'] %}
        <a href="#" class="btn btn-block btn-success">Install</a>
    {% endif %}

    <a href="#" class="btn btn-block btn-danger">Delete</a>
</p>
