<div class="panel-heading">
    <h3 class="panel-title">
        {{ trans('module::admin.information') }}
    </h3>
</div>

<div class="panel-body">

    <dl>
        <dt>{{ trans('module::admin.path') }}</dt>
        <dd>{{ addon.appPath }}</dd>
    </dl>

</div>
